version: "3"

networks:
  web:
    external: true
  internal:
    external: false
    
services:
     
  registry:
    image: registry:2
    container_name: registry
    environment:
      REGISTRY_AUTH: htpasswd
      REGISTRY_AUTH_HTPASSWD_REALM: Registry
      REGISTRY_AUTH_HTPASSWD_PATH: /auth/registry.password
      REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /data
    volumes:
      - /auth:/auth
      - /docker-registry/data:/data
    labels:
      - traefik.http.routers.registry.rule=Host(`registry.cedricmarinot.fr`)
      - traefik.http.routers.registry.tls=true
      - traefik.http.routers.registry.tls.certresolver=lets-encrypt
      - traefik.port=5000
      #- traefik.http.services.registry.loadbalancer.server.port=5000
    networks:
      - internal
      - web
      
  # watchtower pour la ci/cd, check toutes les 5minutes si une image a été mise à jour, et si oui pull la nouvelle et redémarre le container
  watchtower:
    image: containrrr/watchtower
    depends_on:
      - "reverse-proxy"
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/.docker/config.json:/config.json
    command: --cleanup --schedule "5 * * * *"

  reverse-proxy:
    image: traefik:v2.6
    container_name: traefik
    restart: unless-stopped
    depends_on:
      - "registry"
    networks:
      - web
    ports:
      - "80:80"
      - "443:443"
      - "5000:5000"
    labels:
      - "traefik.http.middlewares.test-ipwhitelist.ipwhitelist.sourcerange=10.8.0.0/24"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/traefik/traefik.toml:/traefik.toml
      - /root/traefik/traefik_dynamic.toml:/traefik_dynamic.toml
      - /root/traefik/acme.json:/acme.json
