version: "3"

networks:
  web:
    external: true
  internal:
    external: false
    
services:

  portfolio:
    image: ghcr.io/botkirial/portfolio:master
    container_name: portfolio
    restart: unless-stopped
    depends_on:
      - "watchtower"
    labels:
      - traefik.http.routers.portfolio.rule=Host(`cedricmarinot.fr`)
      - traefik.http.routers.portfolio.tls=true
      - traefik.http.routers.portfolio.tls.certresolver=lets-encrypt
      - traefik.port=80
    networks:
      - internal
      - web
     
  tethys:
    image: ghcr.io/botkirial/tethys:master
    container_name: tethys
    restart: unless-stopped
    depends_on:
      - "watchtower"
    labels:
      - traefik.http.routers.tethys.rule=Host(`tethys.cedricmarinot.fr`)
      - traefik.http.routers.tethys.tls=true
      - traefik.http.routers.tethys.tls.certresolver=lets-encrypt
      - traefik.port=80
    networks:
      - internal
      - web
    
  livechat:
    image: ghcr.io/botkirial/nodejsddimchat:main
    container_name: livechat
    restart: unless-stopped
    depends_on:
      - "watchtower"
    labels:
      - traefik.http.routers.livechat.rule=Host(`livechat.cedricmarinot.fr`)
      - traefik.http.routers.livechat.tls=true
      - traefik.http.routers.livechat.tls.certresolver=lets-encrypt
      - traefik.port=80
      - traefik.http.services.livechat.loadbalancer.server.port=5555
    networks:
      - internal
      - web
      
  registry:
    image: registry:2
    container_name: registry
    environment:
      REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /data
    volumes:
      - /docker-registry/data:/data
    labels:
      - traefik.http.routers.registry.rule=Host(`registry.cedricmarinot.fr`)
      - traefik.http.routers.registry.tls=true
      - traefik.http.routers.registry.tls.certresolver=lets-encrypt
      - traefik.port=5000
      #- traefik.http.services.registry.loadbalancer.server.port=5000
    networks:
      - internal
      - web
      

  # watchtower pour la ci/cd, check toutes les 5minutes si une image a été mise à jour, et si oui pull la nouvelle et redémarre le container
  watchtower:
    image: containrrr/watchtower
    depends_on:
      - "reverse-proxy"
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --cleanup --schedule "5 * * * *"

  reverse-proxy:
    image: traefik:v2.6
    container_name: traefik
    restart: unless-stopped
    depends_on:
      - "registry"
    networks:
      - web
    ports:
      - "80:80"
      - "443:443"
      - "5000:5000"
    labels:
      - "traefik.http.middlewares.test-ipwhitelist.ipwhitelist.sourcerange=10.8.0.0/24"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/traefik/traefik.toml:/traefik.toml
      - /root/traefik/traefik_dynamic.toml:/traefik_dynamic.toml
      - /root/traefik/acme.json:/acme.json
